<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #5</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table cellpadding="5">
    <th:block th:each="account: ${accounts}">
        <tr th:style="${account.isKing()} ? 'color:orange' : 'color:black'">
            <td th:text="${accountStat.index + 1}"></td>
            <th align="left" th:text="${account.name}"></th>
            <td align="right" th:text="${account.balance + ' ' + account.currency}"></td>
            <td th:text="${account.animalType}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>