<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Fox Club</title>
</head>
<body>
<ul>
    <li><a th:href="@{/info}">Information</a></li>
</ul>
<th:block th:object="${fox}">
    <img src="" th:src="'/images/' + *{image} + '.png'"/><br />
    <p th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} +
                '. He knows ' + *{getNumOfTricks()} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <span th:if="*{tricks.isEmpty()}" th:text="'You know nothing, ' + *{name} + '. Go and '"></span>
    <span><a th:href="@{/learn}" th:text="'learn some tricks.'"></a></span>
    <ul th:unless="*{tricks.isEmpty()}" th:each="tr : *{tricks}">
        <li th:text="${tr.description}">write HTML</li>
    </ul>
</th:block>
</body>
</html>