<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo CRUD App</title>
</head>
<body>
<h1>TODOS FOR TODAY:</h1>
<table cellpadding="5" border="thin solid black">
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
    </tr>
</table>
<p><a th:href="@{/todo/add}" th:text="'Add a new item'">Link</a></p>
</body>
</html>